.navbar {
    display: inline-flex;
    justify-content: space-around;
    background: var(--color-bg);
    border: 2px solid transparent;
    color: var(--color-white);
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar:hover {
    background: var(--color-bg-variant);
    border-color: var(--color-primary-variant);
}

.nav_item {
    display: inline;
}

